@use "./variables.scss";

* {
  color: variables.$fg-color;
  font-family: Cantarell;
  font-weight: normal;
  font-size: 13px;
  -gtk-icon-size: 13px;
}

window {
  background-color: transparent;
}

button {
  background-color: transparent;
}
