@use "./variables.scss";
.mediaplayer {
  .coverArt {
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
    background-position: center;
  }

  .coverDesc {
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-image: radial-gradient(
      color-mix(in srgb, variables.$bg-color 40%, variables.$fg-color 5%) 11%,
      color-mix(in srgb, variables.$bg-color 60%, variables.$fg-color 5%) 65%
    );

    label,
    image {
      color: grey;
    }

    .title {
      color: variables.$fg-color;
      font-size: 1.2em;
      margin-top: 10px;
      font-weight: bold;
    }

    .artist {
      color: variables.$fg-color;
      font-size: 1.1em;
    }
  }

  .hoverControls button {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }

  scale {
    padding: 0px;
    min-height: 0px;
    trough {
      border-radius: 0px 0px 15px 15px;
      min-height: 7px;
      background-color: variables.$bg-secondary;
    }
    highlight {
      border-radius: 0px 15px 15px 15px;
      background-color: variables.$accent;
    }
    slider {
      all: unset;
    }
  }
}
