@use "./variables.scss";

.powermenuWindow {
  background-color: variables.$bg-color;
  border-radius: var(--window-radius);
  padding: 10px;

  button {
    margin: 0px 5px;
  }

  image {
    -gtk-icon-size: 16px;
    padding: 5px 15px;
  }

  button:focus {
    background-color: variables.$bg-secondary;
    outline: none;
  }
}
