@use "./variables.scss";

.slider {
  padding: 3px;

  * {
    all: unset;
  }

  image {
    background-color: variables.$fg-color;
    color: variables.$bg-color;
    border-radius: 13px 0px 0px 13px;
    padding: 0px 15px 0px 10px;
    -gtk-icon-size: 12px;
  }

  scale,
  scale * {
    border-radius: 0px 13px 13px 0px;
    min-height: 22px;
  }

  trough {
    background-color: variables.$bg-secondary;
  }

  highlight {
    background-color: variables.$fg-color;
    border-radius: 0px 4px 4px 0px;
  }

  :disabled scale highlight,
  :disabled image {
    background-color: grey;
  }
}
