@use "./variables.scss";

.windowPopup {
  background-color: variables.$bg-color;
  border-radius: var(--window-radius);
  padding: 15px;

  .header {
    margin: 5px;
    label {
      font-weight: bold;
    }
  }

  .body {
    margin: 0px;
    padding: 0px;
    border-radius: 13px;

    stack > label {
      color: grey;
    }

    * {
      background-color: variables.$bg-secondary;
    }

    button {
      padding: 15px;
      border-radius: 0px;
      border-bottom: 2px solid variables.$bg-color;

      &:hover {
        background-color: color-mix(
          in srgb,
          variables.$bg-secondary,
          white 10%
        );
      }
    }

    button:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
    button:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      border: none;
    }
  }

  .activeButton {
    background-color: var(--accent-bg-color);
    * {
      color: var(--accent-fg-color);
      background-color: transparent;
    }
    stack > label {
      color: var(--accent-fg-color);
    }
  }

  scrolledwindow,
  scrolledwindow > * {
    all: unset;
    border-radius: var(--window-radius);
  }
}
