@use "./variables.scss";

.windowPopup {
  background-color: variables.$bg-color;
  border-radius: variables.$border-radius;
  padding: 15px;

  scrolledwindow,
  scrolledwindow > * {
    all: unset;
  }

  .header {
    margin: 5px;
    margin-top: 0px;
    label {
      font-weight: bold;
    }
  }

  .controlcenterHeader {
    margin-left: 0px;
  }

  .body {
    border-radius: variables.$border-radius;
    background-color: variables.$bg-secondary;

    button {
      padding: 15px;
      border-radius: 0px;
      border-bottom: 2px solid variables.$bg-color;

      &:first-child {
        border-top-left-radius: variables.$border-radius;
        border-top-right-radius: variables.$border-radius;
      }

      &:last-child {
        border-bottom-left-radius: variables.$border-radius;
        border-bottom-right-radius: variables.$border-radius;
        border: none;
      }
    }
    @include variables.hoverButton;
    @include variables.activeButton;

    stack > label {
      color: grey;
    }
  }

  .switchToggles {
    button {
      padding: 10px;
      border-radius: 10px;
      background-color: variables.$bg-secondary;
    }
    @include variables.hoverButton;
    @include variables.activeButton;
  }

  .batterybar {
    background-color: variables.$bg-secondary;
    border-radius: variables.$border-radius;
    padding: 12px;

    label {
      color: grey;
    }

    levelbar trough {
      min-height: 8px;
      border-radius: variables.$border-radius;
      block {
        background-color: variables.$bg-color;
      }
      block.filled {
        background-color: lightgreen;
      }
    }
    label {
      margin: 0 3px;
    }
  }
}
